:root {
    --logo-height: 8rem;
}

body {
    margin: 0;
    background-color: gray;
    display: flex;
    flex-direction: row;
}

.italic {
    font-style: italic;
}

img.background-image {
    position: absolute;
    height: 100%;
    top: 0;
    bottom: 0;
    z-index: -1;
}

.left-container {
    display: flex;
    flex-direction: column;
}

.left-container > .logo {
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    flex-direction: row;
    align-items: center;
}

.left-container > .logo > .logo-text {
    font-size: var(--logo-height);
    color: white;
}

.left-container > .logo > img {
    height: var(--logo-height);
}

.left-container > .footer {
    color: white;
}

.left-container > .footer > a {
    color: white;
}